* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url(images/グループ\ 15.png);
    background-size: cover;
    background-position: center;
    height: 1000px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 20px;
    background-color: #dc3568;
    width: 100%;
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: fixed;
    margin-top: -80px;
    z-index: 5;
}
nav a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
}
.header .menu,.contact {
    transition: 0.5s ease-in;
}
.header .menu:hover{
    background-color: #fc8eac;
    padding: 8px 10px;
    border-radius: 10px;
    color: #a50938;
    transition: o.5s ease-in;
}
.header .contact:hover{
    background-color: #fc8eac;
    padding: 8px 10px;
    border-radius: 10px;
    color: #a50938;
    transition: o.5s ease-in;
}
.fixed-content {
    min-height: 100%;
    position: fixed;
}
.container {
    background-color: #f37b9f;
    margin: 80px auto -80px auto;
    width: 1100px;
    height: 1750px;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
}
.section1 {
    margin-bottom: 70px;
}
.main-text {
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 2px 2px #dc3568;
    margin-left: 150px;
}
.primary-text {
    display: flex;
    color: #dc3568;
    font-size: 20px;
    font-weight: bold;
    padding:  120px 30px;
    text-shadow: 0.5px 0.5px black;
}

.section1 .primary-text img {
    position: relative;
    top: -120px;
    left: 127px;
}
.border {
    border: 3px solid #dc3568;
    width: 800px;
    height: 312px;
    position: relative;
    left: 150px;
    top: 10px;
}
.text {
    margin-top: -400px;
    margin-left: 30px;
    color: #dc3568;
    font-size: 18px;
    font-weight: bold;
}
.section2 .primary-text img {
    position: relative;
    top: -120px;
    left: 295px;
}
.section2 {
    margin-bottom: 70px;
}
.section3 .primary-text img {
    position: relative;
    top: -120px;
    left: 240px;
}
.section3 {
    margin-bottom: 70px;
}
.section4 .primary-text img {
    position: relative;
    top: -120px;
    left: 360px;
}
.copyright {
    background-color: #dc3568;
    margin-top: 220px;
}
.copyright p {
   color: white;
   font-size: 14px; 
   padding: 5px;
   text-align: center;
}
.primary-text img {
    box-shadow: 10px 10px 10px #dc3568;
}






